.design {
  background-image: url(../images/background-design.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 442px;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    font-weight: 400px;
  }

  &__content-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
  }

  &__content-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400px;
  }

  &__content-button {
    text-decoration: none;
    color: #fff;
    border: 2px solid #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    padding: 15px 24px;
    line-height: 24.51px;
    width: 270px;
  }

  &__content-separator {
    background-color: #fff;
  }
}
