.footer {
  background-color: #000000;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 45px;
  }

  &__copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
  }

  &__link {
    list-style-type: none;
  }
}
